/* global.css */

body {
  --bg: white;
  --bgPostHover: rgb(248, 248, 248);
  --textNormal: #222;
  --textTitle: #222;
  --textLink: #e32528;
  --hr: hsla(0, 0%, 0%, 0.2);
  background-color: var(--bg);
  transition: 0.3s all;
}

body.dark {
  -webkit-font-smoothing: antialiased;
  --bg: rgb(11, 11, 11);
  --bgPostHover: rgb(27, 27, 27);
  --textNormal: rgba(255, 255, 255, 0.88);
  --textTitle: white;
  --textLink: #e32528;
  --hr: hsla(0, 0%, 100%, 0.2);
}

blockquote{
  color: var(--textNormal);
  border-left: 2px solid var(--textNormal);
  background: rgb(239 239 239 / 6%);
  border-radius: 0 10px 10px 0;
  padding: 10px;
  font-size: 16px;
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.oni{
  margin: 0;
  transition: all .2s ease;
  margin-right: 10px;
}

.angel{
  margin: 0;
  transition: all .2s ease;
  margin-right: 2px;
}

*, *:after, *:before {
  box-sizing: border-box;
}


label {
  display: block;
}

label > input[type=checkbox] {
  display: none;
}


.check-1 {
  width: 55px;
  height: 30px;
  border-radius: 50px;
  position: relative;
}

.check-1 .inner {
  position: absolute;
  width: 55px;
  height: 30px;
  border-radius: 50px;
  border: 2px solid #e8e8e8;
  background: #4aa3df;
  transition: all .2s ease;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.check-1 .bullet {
  position: relative;
  width: 25px;
  height: 25px;
  background: #eee;
  border-radius: 50%;
  transition: all .3s ease;
  top: 2px;
  left: 2px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, .15);
}

.check-1 input:checked~.inner {
  border: 15px solid #e32528;
  transition: all .2s ease;
}

.check-1 input:checked~.bullet {
  left: 28px;
  transition: all .3s ease;
  animation: .2s bullet;
}

.social-button-area{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.social-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  text-decoration: none !important;
  margin: 0px 10px;
  transition: 0.2s all;
}

.social-button:hover{
  opacity: 0.3;
}

.post-item{
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: 0.3s all;
  background:var(--bg);
}

.post-item > p{
  color: var(--textNormal);
  margin-bottom: 10px;
}

.post-item:hover{
  background: var(--bgPostHover);
  transform: translate(0px,-5px);
}

.post-header-image{
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 18px;
  object-position: 10%;
}

.blog-main-body{
  display: grid;
  margin-top: 40px;
  grid-template-columns: 50% 50%;
}

.tag-item{
  color: #480e0f;
  background: #e32528;
  border-radius: 50px;
  padding: 5px;
  font-family: sans-serif;
  font-size: 10px;
  font-weight: bold;
  margin: 0 10px 0 0;
}

@media (max-width: 672px) {
  .blog-main-body{
    grid-template-columns: 100%;
  }
}

@keyframes bullet {

  0%,
  100% {
    width: 25px;
  }

  40% {
    width: 30px;
  }
}