.uses-wrapper {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  height: 600px;
}

.uses-card {
  width: 49%;
  position: relative;
  background: var(--bgCard);
  margin: 0 10px 10px 0;
  padding: 10px;
  border-radius: 10px;
  max-height: 250px;
}

.uses-card > h2 {
  margin: 0;
}

.uses-card > p {
  font-size: 12px;
  margin: 10px 0;
  text-indent: 1em;
  list-style-type: disc;
  display: list-item;
  margin-left: 2em;
}

@media screen and (max-width: 700px) {
  .uses-wrapper {
    flex-flow: column;
    align-content: center;
    height: auto;
  }

  .uses-card {
    width: 100%;
    max-height: auto;
  }
}
